<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Daftar Jenis Barang</title>
</head>

<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h1>Daftar Jenis Barang</h1>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Tambah Jenis Barang
                </button>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                </div>

                <table class="table table-bordered table-dark mt-3 text-center">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nama</th>
                            <th>Pilih</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let a of jenis) { %>
                            <tr>
                                <td>
                                    <%= a.id_JenisBarang %>
                                </td>
                                <td>
                                    <%= a.JenisBarang %>
                                </td>
                                <td>
                                    <a class="btn btn-success" href="/pilihBarang/<%= a.id_JenisBarang %>">Pilih</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" href="/hapusJenis/<%= a.id_jenisBarang %>"
                                        onclick="return confirm('Yakin kah maniezz?')" class="badge bg-danger">Hapus</a>

                                    <button onclick="edit( '<%= a.id_JenisBarang %>','<%= a.JenisBarang %>')"
                                        data-bs-toggle="modal" data-bs-target="#ModalEdit " class=" btn
                                        btn-warning">Edit</button>

                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Barang</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/tambahTransaksi" method="post">
                                <input type="text" hidden id="barang_id" name="barang_id">
                                <input type="text" hidden id="hargaBarang" name="hargaBarang">
                                Masukan jumlah barang
                                <input type="text" class="form-control" name="jumlah" id="jumlah">
                                <div class="mb-3">
                                    <label class="form-label">Jenis Barang</label>
                                    <input type="text" name="JenisBarang" class="form-control" required>

                                </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ModalEdit" tabindex="-1" aria-labelledby="ModalEditLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ModalEditLabel">Edit barang</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/editJenis" method="post">
                                <div class="mb-3">
                                    <label class="form-label">Jenis Barang</label>
                                    <input type="hidden" name="jenis" id="jenis" class="form-control" required>
                                    <input type="text" name="id_jenis" id="id_jenis" class="form-control" required>
                                </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>


            <script>
                const edit = (jenis, id_jenis) => {
                    console.log(jenis, id_jenis)
                    document.getElementById('jenis').value = jenis
                    document.getElementById('id_jenis').value = id_jenis
                }
            </script>



            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
</body>
<script>
    function barang(idbarang, hargabarang) {
        const inputBarangId = document.getElementById("barang_id");
        inputBarangId.value = idbarang;
        const inputHargabarang = document.getElementById("hargabarang");
        inputHarga.value = hargabarang
    }
</script>

</html>